@media screen and (max-width: 320px) {
  .butter-fly {
    top: 380px;
    left: 100px;
    height: 50%;
    width: 50%;

  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .butter-fly {
    top: 340px;
    left: 100px;
    height: 50%;
    width: 50%;

  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .butter-fly {
    top: 295px;
    left: 100px;
    height: 50%;
    width: 50%;
  }
}
